{% extends 'BernyDemoBundle::layout.html.twig' %}

{% block title 'User list' %}

{% block content %}
    <table class="table user-list">
        <thead>
            <tr>
                <th class="col-username">username</td>
                <th class="col-birthday">birthday</td>
                <th class="col-active">is active</td>
                <th class="col-money">money</td>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
                <tr>
                    <td class="type-text">{{ user.username }}</td>
                    <td class="type-date">{{ user.birthdate|date('Y-m-d') }}</td>
                    <td class="type-bool">{{ user.active ? '✔' : '✘' }}</td>
                    <td class="type-num">{{ user.money|format('') }}</td>
                </tr>
            {% endfor %}
            <tr></tr>
        </tbody>
    </table>
{% endblock %}
